:root {
  --color-primary: #17eab6;
  --color-primary-light: #42e695;
  --color-primary-dark: #3bb2b8;

  --color-secondary: #FCE38A;
  --color-tertiary: #EAFFD0;
  --color-quartenary: #95E1D3;

  --color-grey-light: #faf9f9;
  --color-grey-very-light: #f2efee;
  --color-grey-darken: #f9f5f3;
  --color-grey-dark: #333;

  --color-white: #fff;
  --color-white-alpha-3: #ffffff4d;
  --color-white-alpha-7: #ffffffb3;

  --color-black: #000;
  --color-black-alpha-6: #00000099;

  --check-mark-color: #74da74;

  --background-main: #e5e8f0;

  --text-color-black: #2d2e30;
  --text-color-dark: #13452C;

  --color-shadow-grey: #0000004d;
  --color-shadow-grey-light: #00000033;
  --color-shadow-grey-lightest: #0000001a;

  --shadow-table-items: 0 .7rem 0 var(--color-shadow-grey-lightest);

  --helper-transition: .3s;
}

///////////////////
// Responsive breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600
