.hint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 46.5rem;
}

.hint {
  display: grid;
  gap: 1rem;

  width: 100%;
  background-color: var(--color-white);
  border-radius: 3.6rem;
  padding: 3rem 2.5rem;

  animation: hint-fade-in 0.45s cubic-bezier(0.25, 1.55, 0.65, 1);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__close {
    border-radius: 999rem;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    transition: all 0.2s ease-out;
    background: var(--color-grey-very-light);

    &:hover {
      background: var(--color-shadow-grey-lightest);
    }
  }

  &__title {
    font-size: 2rem;
    color: var(--text-color-dark);
  }

  &__description {
    color: var(--text-color-gray);
    font-size: 16px;
  }
}
