.footer {
  align-self: flex-end;
  margin: 13rem 3rem;
  display: flex;
  gap: 1.3rem;
  align-items: center;
  max-height: 2rem;

  &__github {
    width: 2rem;
    fill: var(--color-primary);
    max-height: 2rem;
  }

  &__rs-school-logo {
    fill: var(--color-primary);
    width: 5rem;
    max-height: 2rem;
  }

  &__year {
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
    -webkit-background-clip: text;
    font-weight: 700;
    font-size: 1.3rem;
  }
}
