.start-screen {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 999;

  height: 100%;
  width: 100%;

  backdrop-filter: blur(6px) brightness(0.85);
}

.modal {
  display: grid;
  grid-template-columns: 1.15fr 0.85fr;
  justify-content: center;
  align-items: center;

  position: absolute;
  height: 60rem;
  width: 107.5rem;
  background: var(--color-white);
  border-radius: 1.6rem;
  inset: 0;
  margin: auto;
  box-shadow: 3px 3px 10px var(--color-shadow-grey);
  overflow: hidden;
  border: none;

  &__left,
  &__right,
  &__img {
    height: inherit;
    width: 100%;
  }

  &__right {
    display: grid;
    grid-template-rows: min-content 1fr;

    align-items: flex-start;

    gap: 2.5rem;
    padding: 2.5rem;
  }

  &__img {
    object-fit: cover;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
  }

  &__btn--empty {
    height: 5rem;
    width: 9rem;
    font-weight: 400;
    color: var(--text-color-gray);
  }

  &__btn--filled {
    height: 5rem;
    width: 15rem;
    background-color: var(--color-primary);
    font-weight: 400;
  }
}

.heading {
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 300;
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;
}

.description {
  display: grid;
  gap: 1.6rem;

  font-size: 1.6rem;
  color: #777;
}
